body{ background-image: url("imagenes/fondo.jpg");
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    font-family: "Orbitron", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: 400; font-style: normal } 

ul { list-style: none; 
    font-size: 20px; 
    display: flex; 
    flex-direction: row; 
    padding: 0; 
    margin: 0; } 

ul li { flex: 1; 
    text-align: center; 
    background-color: #ffffff; 
} ul li a { color: black; 
    text-decoration: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80px; 
    border: 2px solid #ffffff; 
    transition: 0.2s; 
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7); 
    font-size: 18px; 
    font-weight: bold; }

ul li a:hover { background-color: rgb(255, 255, 255); 
    border-color: rgb(79, 83, 197); 
    transform: scale(1.05); } 

.titulos{  
    color: #ffffff; 
    padding-left: 50px;
 }

.Titulo{ font-size: 90px; 
    display: flex;
    flex-direction: row;
    gap: 150px; 
    align-items: center;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
 .fotoPc{ float: right; 
    width: 230px; 
    border-radius: 250px; 
    
} 
.Nombre{ display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 20px; 
    padding-top: 100px;
} 

.C { border-radius: 250px;
    width: 5%; 
}

.intro{
    letter-spacing: 1px;
    font-size: 16px;
}
.Enlaces{
    font-size: 90px;
    text-align: center;
    padding-top: 400px;
    color: #ffffff;
}

.grid{
    display: grid;
    color: #ffffff;
    grid-template-columns: 1fr , 1fr;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.caja {
    border: 2px solid #ffffff; 
    transition: 0.3s; 
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7);
    text-align: center;
}
.caja:hover {
    background-color: #ffffff;
    border-color: rgb(79, 83, 197);
    transform: scale(1.05);
    color: #8c8c8c;
}
.caja a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    display: block; 
    padding: 15px;
}
.caja:hover a {
    color: #8c8c8c;
}
p{
    letter-spacing: 1px;
}
