body{
    background-image: url(imagenes/fondo.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    font-family: "Orbitron", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: 400;
    font-style: normal;
    
    
 } 
 ul { list-style: none; 
    font-size: 20px; 
    display: flex; 
    flex-direction: row; 
    padding: 0; 
    margin: 0; 
}
    ul li { 
    flex: 1; 
    text-align: center; 
    background-color: #ffffff; 
}
 ul li a { 
    color: black; 
    text-decoration: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80px; 
    border: 2px solid #ffffff; 
    transition: 0.2s; 
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7); 
    font-size: 18px; 
    font-weight: bold; }

ul li a:hover {
    background-color: rgb(255, 255, 255); 
    border-color: rgb(79, 83, 197); 
    transform: scale(1.05); } 
h1{
    color: #ffffff;
    font-size: 70px;
    letter-spacing: 1px;
    padding-top: 10px;
    text-align: center;
}
h2{
    color:#e100ff;
    font-size: 35px;
    
}
.titulo-resultado {
  display: flex;
  align-items: center;   /* alinea verticalmente */
  gap: 15px;             /* espacio entre título y resultado */
}

.titulo-resultado h2 {
  margin: 0;             /* que no meta saltos extra */
}

#resultado {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

form input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 100%;
}
button {
  background-color: #ffffff;
  color: #e100ff;
  padding: 20px 25px;
  border: none;
  border-radius: 250px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: "Orbitron", sans-serif;   
  font-optical-sizing: auto; 
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  transition: 1.2s;
}
select{
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 250px;
  text-align: center;
  font-family: "Orbitron", sans-serif;   
  font-optical-sizing: auto; 
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold
}
button:hover{
  transform: scale(1.1);
  background-color: #e100ff;
  color: #ffffff;
}
option{
  background-color: rgb(255, 255, 255);
  transition: 1s;
}
option:hover{
  background-color: #838383;

}